@font-face
  font-family: "iconfont"
  src: url('../fonts/iconfont.eot?t=1510221781983')
  src: url('../fonts/iconfont.eot?t=1510221781983#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff?t=1510221781983') format('woff'),
    url('../fonts/iconfont.ttf?t=1510221781983') format('truetype'),
    url('../fonts/iconfont.svg?t=1510221781983#iconfont') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-back:before
  content: "\e697"

.icon-category:before
  content: "\e699"

.icon-close:before
  content: "\e69a"

.icon-comments:after
  content: "\e69d"

.icon-delete:after
  content: "\e69f"

.icon-edit:after
  content: "\e69e"

.icon-less:after
  content: "\e6a5"

.icon-moreunfold:after
  content: "\e6a6"

.icon-more:after
  content: "\e6a9"
  margin-left: -20px

.icon-pic:after
  content: "\e6aa"

.icon-refresh:after
  content: "\e6ab"

.icon-search:after
  content: "\e6ac"

.icon-selected:after
  content: "\e6ad"

.icon-viewlist:after
  content: "\e6b5"

.icon-add:after
  content: "\e6b9"

.icon-attachment:after
  content: "\e6c0"

.icon-link:after
  content: "\e6f7"

.icon-navlist:after
  content: "\e6fa"

.icon-accountfilling:after
  content: "\e732"

.icon-favorites:after
  content: "\e7ce"

.icon-folder:after
  content: "\e83b"
